* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: "Host Grotesk", sans-serif;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  /* position: fixed; */
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 5vw;
}
.nav-tabs>ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5vw;
}
a {
  color: #575757;
  text-decoration: none;
}
.common-btn {
  background-color: #e8ba2e;
  border: none;
  border-radius: 10px;
  padding: 15px 24px 15px 24px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  color: #000102;
}
.hero-parent {
  height: 110vh;
  background-image:
    linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url("./assets/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  border-radius: 16px;
  margin: 0 0.5rem 0 0.5rem;
  position: relative;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 2%;
  gap: 40px;
}
.main-heading {
  color: white;
  font-size: 88px;
  font-weight: 700;
}
.sub-heading {
  color: white;
}
.stats-card-parent{
    height: 226px;
    background-color: #e8ba2e;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0.5rem;
    padding: 45px;
    gap: 15px;
}
.stats{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.stats p{
    font-weight: 400;
    font-size: 16px;
}
.stats h1{
    font-weight: 600;
    font-size: 72px;
}
.resize{
  max-width: 1200px;
  margin: auto;
}
.host-cities-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8vh;
  margin: 8vh 0 8vh 0;
}
.host-cities-parent>h1{
  font-weight: 600;
  font-size: 56px;
}
.cities-card-parent{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 28px;
}
.cards{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}
.cities-desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 287px;

}
.cities-desc h1{
  font-weight: 700;
  font-size: 40px;
}
.cities-desc p{
  font-weight: 400;
  font-size: 16px;
  color: #575757;
}
.cities-desc>ul{
  font-size: 17px;
  color: #4D4D4D;
  padding-left: 20px;
}
table{
  width: 100%;
}
.table-parent{
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid #d9d9d9;
  border-radius: 12px;
  padding: 15px;
}
.table-title{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.table-title p{
  font-size: 16px;
  font-weight: 400;
  color: #575757;
}
.table-title h1{
  font-size: 32px;
  font-weight: 700;
}
td{
  border: 1px solid black;
  border-collapse: collapse;
}
/* Footer section */
footer {
  height: 30vh;
  margin-top: 15vh;
  background-color: #000102;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0 50px;
}
.footer-links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-social-media a img {
  height: 48px;
  width: 48px;
}
.footer-texts {
  width: 100%;
  border-top: 1px solid #575757;
  color: #575757;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.text-left,
.text-right {
  display: flex;
  gap: 35px;
}